<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>laoshuAction/0000</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{216,56}}</string>
                <key>offset</key>
                <string>{1,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,328},{216,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0001</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{216,56}}</string>
                <key>offset</key>
                <string>{1,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,328},{216,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0002</key>
            <dict>
                <key>frame</key>
                <string>{{148,590},{216,122}}</string>
                <key>offset</key>
                <string>{1,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,264},{216,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0003</key>
            <dict>
                <key>frame</key>
                <string>{{148,590},{216,122}}</string>
                <key>offset</key>
                <string>{1,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,264},{216,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{218,158}}</string>
                <key>offset</key>
                <string>{0,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,228},{218,158}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0005</key>
            <dict>
                <key>frame</key>
                <string>{{222,132},{218,156}}</string>
                <key>offset</key>
                <string>{0,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,228},{218,156}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0006</key>
            <dict>
                <key>frame</key>
                <string>{{222,132},{218,156}}</string>
                <key>offset</key>
                <string>{0,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,228},{218,156}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0007</key>
            <dict>
                <key>frame</key>
                <string>{{272,590},{216,116}}</string>
                <key>offset</key>
                <string>{1,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,268},{216,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0008</key>
            <dict>
                <key>frame</key>
                <string>{{148,590},{216,122}}</string>
                <key>offset</key>
                <string>{1,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,264},{216,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0009</key>
            <dict>
                <key>frame</key>
                <string>{{148,590},{216,122}}</string>
                <key>offset</key>
                <string>{1,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,264},{216,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0010</key>
            <dict>
                <key>frame</key>
                <string>{{148,590},{216,122}}</string>
                <key>offset</key>
                <string>{1,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,264},{216,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{216,144}}</string>
                <key>offset</key>
                <string>{1,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,240},{216,144}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{216,144}}</string>
                <key>offset</key>
                <string>{1,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,240},{216,144}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{216,144}}</string>
                <key>offset</key>
                <string>{1,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,240},{216,144}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{216,146}}</string>
                <key>offset</key>
                <string>{1,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,238},{216,146}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{216,146}}</string>
                <key>offset</key>
                <string>{1,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,238},{216,146}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{216,146}}</string>
                <key>offset</key>
                <string>{1,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,238},{216,146}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0017</key>
            <dict>
                <key>frame</key>
                <string>{{220,440},{216,148}}</string>
                <key>offset</key>
                <string>{1,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,236},{216,148}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{216,148}}</string>
                <key>offset</key>
                <string>{1,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,236},{216,148}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0019</key>
            <dict>
                <key>frame</key>
                <string>{{272,708},{216,114}}</string>
                <key>offset</key>
                <string>{1,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,270},{216,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0020</key>
            <dict>
                <key>frame</key>
                <string>{{272,708},{216,114}}</string>
                <key>offset</key>
                <string>{1,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,270},{216,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0021</key>
            <dict>
                <key>frame</key>
                <string>{{272,708},{216,114}}</string>
                <key>offset</key>
                <string>{1,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,270},{216,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0022</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{216,56}}</string>
                <key>offset</key>
                <string>{1,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,328},{216,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0023</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{216,56}}</string>
                <key>offset</key>
                <string>{1,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,328},{216,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0024</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{216,68}}</string>
                <key>offset</key>
                <string>{1,-150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,316},{216,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0025</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{216,68}}</string>
                <key>offset</key>
                <string>{1,-150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,316},{216,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0026</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{216,68}}</string>
                <key>offset</key>
                <string>{1,-150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,316},{216,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0027</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{216,68}}</string>
                <key>offset</key>
                <string>{1,-150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,316},{216,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0028</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{216,68}}</string>
                <key>offset</key>
                <string>{1,-150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,316},{216,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0029</key>
            <dict>
                <key>frame</key>
                <string>{{220,824},{216,96}}</string>
                <key>offset</key>
                <string>{1,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,288},{216,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0030</key>
            <dict>
                <key>frame</key>
                <string>{{220,824},{216,96}}</string>
                <key>offset</key>
                <string>{1,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,288},{216,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0031</key>
            <dict>
                <key>frame</key>
                <string>{{220,824},{216,96}}</string>
                <key>offset</key>
                <string>{1,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,288},{216,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0032</key>
            <dict>
                <key>frame</key>
                <string>{{220,824},{216,96}}</string>
                <key>offset</key>
                <string>{1,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,288},{216,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0033</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,128}}</string>
                <key>offset</key>
                <string>{-1,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,258},{220,128}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0034</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,128}}</string>
                <key>offset</key>
                <string>{-1,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,258},{220,128}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0035</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,128}}</string>
                <key>offset</key>
                <string>{-1,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,258},{220,128}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0036</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,128}}</string>
                <key>offset</key>
                <string>{-1,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,258},{220,128}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0037</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,128}}</string>
                <key>offset</key>
                <string>{-1,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,258},{220,128}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0038</key>
            <dict>
                <key>frame</key>
                <string>{{222,290},{216,148}}</string>
                <key>offset</key>
                <string>{1,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,236},{216,148}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/0039</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{216,56}}</string>
                <key>offset</key>
                <string>{1,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,328},{216,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laoshuAction.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df2e601695520224a2300dc2096cb8dd:1/1$</string>
            <key>textureFileName</key>
            <string>laoshuAction.png</string>
        </dict>
    </dict>
</plist>
