<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>laoshuAction/godown_0000</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,126}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,103},{220,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/godown_0001</key>
            <dict>
                <key>frame</key>
                <string>{{222,288},{216,150}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,78},{216,150}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/godown_0002</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{216,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,172},{216,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/goup_0000</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{216,68}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,160},{216,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/goup_0001</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{216,68}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,160},{216,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/goup_0002</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{216,68}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,160},{216,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/goup_0003</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{216,68}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,160},{216,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/goup_0004</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{216,68}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,160},{216,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/goup_0005</key>
            <dict>
                <key>frame</key>
                <string>{{244,850},{216,98}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,130},{216,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/goup_0006</key>
            <dict>
                <key>frame</key>
                <string>{{244,850},{216,98}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,130},{216,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/goup_0007</key>
            <dict>
                <key>frame</key>
                <string>{{244,850},{216,98}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,130},{216,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/goup_0008</key>
            <dict>
                <key>frame</key>
                <string>{{244,850},{216,98}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,130},{216,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/goup_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,126}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,103},{220,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/goup_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,126}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,103},{220,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/goup_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,126}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,103},{220,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/goup_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,126}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,103},{220,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{216,122}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,107},{216,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{216,122}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,107},{216,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{218,158}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,71},{218,158}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0003</key>
            <dict>
                <key>frame</key>
                <string>{{222,130},{218,156}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,72},{218,156}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0004</key>
            <dict>
                <key>frame</key>
                <string>{{222,130},{218,156}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,72},{218,156}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0005</key>
            <dict>
                <key>frame</key>
                <string>{{126,736},{216,116}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,112},{216,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{216,122}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,107},{216,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{216,122}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,107},{216,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{216,122}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,107},{216,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{216,144}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{216,144}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0010</key>
            <dict>
                <key>frame</key>
                <string>{{220,588},{216,144}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{216,144}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{216,144}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,84},{216,144}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0012</key>
            <dict>
                <key>frame</key>
                <string>{{220,440},{216,146}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,82},{216,146}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0013</key>
            <dict>
                <key>frame</key>
                <string>{{220,440},{216,146}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,82},{216,146}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0014</key>
            <dict>
                <key>frame</key>
                <string>{{220,440},{216,146}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,82},{216,146}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{216,148}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,80},{216,148}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{216,148}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,80},{216,148}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0017</key>
            <dict>
                <key>frame</key>
                <string>{{244,734},{216,114}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,114},{216,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0018</key>
            <dict>
                <key>frame</key>
                <string>{{244,734},{216,114}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,114},{216,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0019</key>
            <dict>
                <key>frame</key>
                <string>{{244,734},{216,114}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,114},{216,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0020</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{216,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,172},{216,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/hit_0021</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{216,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,172},{216,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/normal_0000</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{216,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,172},{216,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>laoshuAction/normal_0001</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{216,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,172},{216,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laoshuAction.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52248b490b704217f8fafaad9305ee21:1/1$</string>
            <key>textureFileName</key>
            <string>laoshuAction.png</string>
        </dict>
    </dict>
</plist>
